/* Scroll Bar */
.scrollbar-default::-webkit-scrollbar{width:5px}
.scrollbar-default::-webkit-scrollbar-thumb{border-radius:3px;background-color:#424242b2}
.scrollbar-default::-webkit-scrollbar-track{background-color:#eeeeee13}
/* Animate */
.animate{
  &-div{
    overflow:hidden;
    & > *{
      display: inline-block;
      transform:translateY(100%);
    }
    &.animate-start > *{
      transform:translateY(0);
      transition:transform .7s;
    }
  }
}

/* Common */
@mixin page-area{
  position:absolute;
  top:0;
  right:0;
  width:90%;
  max-width:calc(100% - 200px);
  height:100%;
  z-index: 1;
  opacity:0;
  visibility:hidden;
  transition:opacity .5s, visibility .5s;
  &.show{
    opacity:1;
    visibility: visible;
  }
  @media(max-width:640px){
    width:100%;
    max-width:none;
  }
}
@mixin contents-area{
  overflow-y:auto;
  height:100vh;
  padding:150px 20px;
  @media (max-width:640px){
    padding:150px 12px 80px;
    &::after{
      content:"";
      position: absolute;
      top:0;left:0;
      width:100%;
      height:150px;
      background-image: linear-gradient(to bottom, rgba(0,0,0) 40%, transparent);
    }
  }
}
@mixin center-box{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
}
@mixin center-hidden{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;visibility:hidden;
  background-color: rgba(0,0,0,.7);
  transition:opacity .5s, visibility .5s;
  z-index: 1;
  @media (min-width:1024px){
    &:hover{
      opacity:1;visibility:visible;
    }
  }
}
body{
  background-color: #000;
  @media (max-width:640px){
    font-size:15px;
  }
}
.view-more {
  padding:10px 14px;
  font-size: 15px;
  color:rgba(255,255,255,.7);
  font-family: "Pretendard",sans-serif;
  border: 1px solid rgba(255,255,255,.7);
  // opacity:0;visibility:hidden;
  background-color: transparent;
  transition:background-color .3s;;
  i.xi-plus-min {
    margin-left: 50px;
  }
  &:hover{
    background-color: rgba(255,255,255,0.3);
  }
}
.wrap{
  position:relative;
  width:100%;
  max-width:1400px;
  margin:0 auto;
  height:100vh;
}
.ui{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:0 40px;
  height:100%;
  padding:20px;
  color:rgba(200,200,200);
  @media (max-width:640px){
    flex-direction:row;
    height:auto;
    gap:initial;
    &:before{
      content:"";
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:130px;
      background-image: linear-gradient(to bottom, rgba(0,0,0) 30%, transparent);
    }
  }
  a{
    color:inherit;
    transition: color .3s;
    &:hover{
      color:#fff;
    }
  }

  /* Header */
  &-header{
    display:flex;
    justify-content: space-between;
    z-index: 1;
    @media (max-width:640px){
      z-index: 2;
    }
    &__logo{
      align-self: flex-start;
    }
    &__nav{
      &-item{
        &.active{
          button{
            opacity:1;
          }
        }
        button{
          opacity:.3;
          font-size:18px;
          line-height: 1.5;
          color:inherit;
          letter-spacing: -1px;
          border:none;
          background-color: transparent;
          transition: opacity .3s;
          @media (max-width:640px){
            font-size:14px;
            letter-spacing: 0;
          }
          &:hover{
            opacity:1;
          }
        }
      }
    }
    &__right{
      display: flex;
      gap:0 50px;
      margin-right:150px;
      opacity:0;
      visibility: hidden;
      transition:opacity .5s, visibility .5s;
      &.active{
        opacity:1;visibility:visible;
      }
      @media (max-width:640px){
        display: none;
      }
      & > span{
        font-size:12px;
        color:rgba(255,255,255,.7);
        margin-top:4px;
      }
    }
  }
  &-page{
    align-self:flex-start;
    line-height: 1.5;
    z-index: 2;
    &__item{
      opacity:.4;
      &:not(:first-child){
        margin-top:5px;
      }
      i{
        position: relative;
        top:-3px;
        font-size:10px;
        opacity:0;
        transition:opacity .2s, padding .2s;
        @media (max-width:640px){
          top:0;
        }
      }
      &:hover,
      &.active{
      opacity:1;
        i{
          opacity:1;
          padding-right:5px;
        }
      }
    }
    &__link{
      font-size:18px;
      color:inherit;
      font-family:"Pretendard",sans-serif;
      font-weight:500;
      border:none;
      background-color:transparent;
      @media (max-width:640px){
        font-size:15px;
      }
    }
  }
  
  /* Footer */
  &-footer{
    display: flex;
    align-self:flex-end;
    justify-content: flex-end;
    margin-right:10px;
    z-index: 2;
    @media (max-width:640px){
      width:100px;
      opacity:0;
      visibility:hidden;
      margin-right:0;
    }
    &__sns{
      &-link{
        font-size:22px;
        color:inherit;
      }
    }
  }
}

.page{
  &__wrap{
    opacity:0;visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.show{
      opacity:1;visibility:visible;
    }
  }
}

/* Main */
.main{
  position:fixed;
  top:0;
  width:100%;
  max-width:1400px;
  opacity:0;
  transition:opacity .5s;
  &.show{
    opacity:1;
  }
  &__sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px 0;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    opacity:0;visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.show{
      opacity:1;visibility:visible;
    }
    &-text{
      text-align: center;
      color:rgba(255, 255, 255, 0.7);
      border:none;
      background-color:transparent;
    }
    h2{
      font-family: "Rouganeck", "Pretendard", sans-serif;
      font-size:42px; 
      color:#fff;
      @media (max-width:640px){
        font-size:32px;
      }
    }
    span{
      display: block;
      margin-top:30px;
      font-size: 14px;
    }
    p{
      font-size:17px;
      &::before{
        content:"";
        display: block;
        margin:15px auto;
        width:12px;
        height:1px;
        background-color: rgba(255,255,255,.5);
      }
    }
  }
  &__canvas{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    height:100vh;
    background-color: #444;
    cursor:move;
  }
  &__pagination{
    display: flex;
    gap:0 10px;
    position: fixed;
    bottom:30px;
    left:50%;
    transform:translate(-50%, 0);
    &-bullet{
      position: relative;
      width:25px;
      height:6px;
      opacity:.2;
      border:none;
      background-color: #fff;
      transition:opacity .5s;
      &.active{
        opacity:1;
      }
      &::before{
        content:"";
        position: absolute;
        top:-18px;
        left:0;
        width:100%;
        height:40px;
      }
    }
  }
}

/* Works */
.works{
  @include page-area;
  &__wrap{
    position: absolute;
    top:0;
    right:0;
    width:100%;
    color:#ddd;
    opacity:0;
    visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.show{
      opacity:1;
      visibility: visible;
      z-index: 3;
    }
  }
  &__top-btn{
    position: absolute;
    bottom:100px;
    right:28px;
    font-size:25px;
    color:#ddd;
    border:none;
    background-color: transparent;
    opacity:0;visibility:hidden;
    transition:opacity .5s, visibility .5s;
    z-index: 5;
    &.active{
      opacity:1;visibility:visible;
    }
    @media (max-width:640px){
      right:18px;
    }
  }
  &__scroll{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 60px;
    left: -80px;
    transform: rotate(-90deg);
    opacity:0;visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.active{
      opacity:1;visibility:visible;
    }
    @media (max-width:640px){
      display: none;
    }
    &-text{
      font-family: "Poppins";
      font-size: 10px;
      font-weight: 500;
      color: #ddd;
    }
    &-bar{
      position: relative;
      width: 50px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      &::after{
        content: "";
        display: block;
        position: relative;
        top:-2px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff;
        animation: visualScrollBar forwards linear 1s infinite;
      }
    }
  }
  @keyframes visualScrollBar {
    0% {transform: translateX(40px);}
    100% {tranform: translateX(-20px);}
  }
  
  &__close{
    position: absolute;
    top:22px;
    right:30px;
    font-size:25px;
    color:#ddd;
    border:none;
    background-color:transparent;
    z-index: 3;
    @media (max-width:640px){
      right:10px;
    }
  }
  &__area{
    @include contents-area;
  }
  &__top{
    &:not(:first-child){
      margin-top:200px;
      @media (max-width:640px){
        margin-top: 140px;
      }
    }
    h2{
      font-size:40px;
      &.center{
        text-align: center;
      }
      @media (max-width:640px){
        font-size:30px;
      }
    }
    &-info{
      margin-top:50px;
      @media (max-width:640px){
        margin-top:30px;
      }
      li{
        display: flex;
        gap:12px 20px;
        margin-top:25px;

        @media (max-width:1024px){
          flex-direction: column;
        }
        &:first-child{
          margin-top:0;
        }
      }
      strong{
        display:block;
        flex-shrink: 0;
        width:120px;
        font-size:18px;
      }
      p{
        @media (max-width:640px){
          font-size:14px;
        }
      }
      &.center{
        display:flex;
        flex-direction:column;
        align-items: center;
        gap:20px;
        text-align: center;
      }
    }
    &-icons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap:0 12px;
      margin-top:20px;
      a{
        font-size:20px;
        color:#aaa;
        transition: color .3s;
        &:hover{
          color:#fff;
        }
      }
    }
  }
  &__contents{
    margin-top:150px;
    @media (max-width:1024px){
      margin-top:80px;
    }
    @media (max-width:640px){
      margin-top: 50px;
    }
    .img-wrap{
      &:not(:first-child){
        margin-top:20px;
      }
      img{
        display: block;
        width:100%;
      }
    }
    h3{
      font-size:22px;
      font-weight:400;
      @media (max-width:640px){
        font-size:17px;
      }
    }
    h4{
      font-size:18px;
      font-weight:500;
      text-align: center;
      @media (max-width:640px){
        font-size: 15px;
      }
      i{
        margin-left:5px;
      }
    }
    p{
      font-size:15px;
      color:#aaa;
      @media (max-width:640px){
        font-size: 14px;
      }
    }
  }
  &__img-container{
    padding-left:140px;
    @media (max-width:1024px){
      padding-left: 0;
    }
    & > p{
      margin-top:20px;
    }
  }
  &__item{
    display: flex;
    gap:20px 50px;
    width:100%;
    padding:0 20px 0 140px;
    @media (max-width:1024px){
      flex-direction: column;
      padding:0;
    }
    &:not(:first-child){
      margin-top:100px;
      @media (max-width:640px){
        margin-top:50px;
      }
    }
  } 
  &__left{
    align-self:flex-start;
    min-width:250px;
    width:30%;
    @media (max-width:640px){
      width:100%;
    }
    .video-wrap{
      display: block;
      padding-top:58.5%; 
      border-radius:5px;
      overflow:hidden;
      video{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
      &::before{
        content:"\e980";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        font-family: xeicon!important;
        font-size:16px;
        color:#ddd;
        opacity:0;visibility:hidden;
        background-color: rgba(0,0,0,.7);
        transition:opacity .5s, visibility .5s;
        z-index: 1;
      }
      &:hover::before{
        opacity:1;visibility:visible;
      }
    }
    figure{
      border-radius:5px;
      overflow:hidden;
      font-size:0;
      line-height:1;
      img{
        display: block;
        width: 100%;  
      }
    }
    .info{
      display: flex;
      margin-top:20px;
      font-size:15px;
      color:#aaa;
      & > * {
        &:not(:last-child)::after{
          content:"";
          display:inline-block;
          width:3px;
          height:3px;
          background-color: #888;
          margin:0 8px 5px;
        }
      }
    }
  }
  &__right{
    width:70%;
    @media (max-width:1024px){
      width:auto
    }
    a.title{
      display: inline-flex;
      align-items: center;
      gap:0 8px;
      font-size:20px;
      color:#ddd;
      transition:color .3s;
      h3{
        font-weight:600;
      }
      i.xi-external-link{
        font-size:16px;
      }
      &:hover{
        color:#fff;
      }
    }

    .info{
      display: flex;
      color:#aaa;
      margin: 10px 0;
      & > * {
        &:not(:last-child)::after{
          content:"";
          display:inline-block;
          width:3px;
          height:3px;
          background-color: #888;
          margin:0 8px 5px;
        }
      }
      a{
        color:#aaa;
      }
    }
  }
  &__more{
    margin-top:20px;
    padding-top:15px;
    border-top:1px solid #666;
    @media (max-width:640px){
      display: none;
    }
    .more-btn{
      display: flex;
      justify-content: space-between;
      width:100%;
      padding:5px 10px 5px 0;
      font-size:16px;
      color:#aaa;
      border:none;
      background-color:transparent;
      transition: color .3s;
      &:hover{
        color:#fff;
      }
      &.active{
        color:#fff;
        & ~ .content{
          opacity:1;visibility:visible;
        }
        & .xi-angle-down-min::before{
          content:"\e945";
        }
      }
      @media (max-width:640px){
        font-size:14px;
      }
    }
    .content{
      font-size:15px;
      margin-top:10px;
      opacity:0;visibility:hidden;
      transition:opacity .5s, visibility .5s;
      @media (max-width:640px){
        margin-top:5px;
      }
      p::before{
        content:"";
        display: inline-block;
        width:2px;
        height:2px;
        margin:0 6px 4px 4px;
        background-color: #666;
      }
    }
  }

  // Grid
  &__grid{
    &-list{
      display: flex;
      flex-wrap:wrap;
      gap:50px 10px;
      margin-top:20px;
      .img-wrap{
        position: relative;
        padding-top:56.8%;
        border-radius: 10px;
        overflow: hidden;
        &::before{
          content:"";
          @include center-box();
          background-color: rgba(0,0,0,.4);
          opacity: 1;
          transition:opacity .5s;
        }
        img{
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
        }
      }
      .video-wrap{
        border-radius:10px; 
        overflow:hidden;
        video{
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
        }
      }
      &.text-in{
        @media (max-width:640px){
          gap:20px 0;
        }
        & > li{
          @media (max-width:640px){
            width:100%;
          }
        }
        .video-wrap{
          padding-top:58.25%;
        }
        .works__grid-inner{
          position: absolute;
          top: 0;
          left: 0;
          width:100%;
          height:100%;
          background-color: rgba(0,0,0,.5);
          opacity:0;
          transition:opacity .5s;
          z-index: 1;
        }
        .works__grid-link:hover{
          span::before{
            width:100%;
          }
          .works__grid-inner{
            opacity:1;
          }
        }
        @media (max-width:640px){
          .works__grid-link{
            span::before{
              width:100%;
            }
            .works__grid-inner{
              opacity:1;
            }
          }
        }
      }
    }
    &-item{
      position: relative;
      width:calc(33.333333333333% - 7px);
      @media (max-width:1024px){
        width:calc(50% - 5px);
      }
    }
    &-link{
      display:block;
      &:hover .img-wrap::before{
        opacity:0;
      }
    }
    &-inner{  
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:5px 0;
      padding:15px 10px;
      color:#ccc;
      span{
        position: relative;
        font-size:13px;
        &::before{
          content:"";
          position: absolute;
          bottom:-2px;
          left:50%;
          width:0;
          height:1px;
          transform:translate(-50%, 0);
          background-color: #ccc;
          transition:width .5s;
        }
      }
    }
    &-icons{  
      display: flex;
      align-items: center;
      justify-content: center;
      gap:0 10px;
      margin-top:15px;
      a{
        font-size:18px;
        color:#ccc;
        transition:color .3s;
        &:hover{
          color:#fff;
        }
      }
    }
  }
  &__title-link{
    font-size:26px;
    color:#ccc;
    margin-left:5px;
    transition:color .3s;
    &:hover{
      color:#fff;
    }
  }
}


/* About */
.about{
  color:#ddd;
  @include page-area;

  &__area{
    @include contents-area;
  }
  &__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:45%;
    margin:0 auto;
    text-align: center;
    @media (max-width:1280px){
      max-width:none;
    }
    span{
      font-size:14px;
      color:#bbb;
    }
    h2{
      padding:20px 0 40px;
      font-size:42px;
      font-weight:400;
      font-family: 'Rouganeck','Pretendard',sans-serif;
      @media (max-width:640px){
        font-size:26px;
      }
    }
    strong{
      font-size:18px;
      font-weight:500;
    }
    p{
      margin-top:30px;
      font-weight:300;
      color:rgba(255, 255, 255, 0.7);
    }
  }
  &__sec{
    &:not(:first-child){
      margin-top:200px;
      @media(max-width:640px){
        margin-top:150px;
      }
    }
  }
  &__subtitle{
    span{
      display:block;
      font-size:14px;
      color:#bbb;
      margin-bottom:20px;
    }
    h3{
      font-size:38px;
      font-weight:400;
      font-family: 'Rouganeck','Pretendard',sans-serif;
      @media (max-width:640px){
        font-size: 28px;
      }
    }
  }
  &__img-wrap{
    display: flex;
    justify-content: space-between;
    margin-top:160px;
    .video-wrap{
      padding-top: 33.5%;
      overflow: hidden;
      video{
        position:absolute;
        top:0;
        left:50%;
        height:100%;
        transform:translateX(-50%);
      }
    }
    .img-wrap{
      max-width:25%;
      flex-basis: 25%;
      img{
        display: block;
        width:100%;
      }
      &.img2{
        transform:translate(50px, 0) rotate(90deg) scale(.6)
      }
      &.img3{
        transform:translateY(-100px)
      }
    }
  }
  &__profile{
    display: flex;
    justify-content: space-between;
    @media (max-width:1280px){
      flex-direction: column;
    }
    .about__subtitle{
      width:30%;
      @media (max-width:1280px){
        width:60%;
      }
    }
    &-contents{
      width:50%;
      margin-top:30px;
      @media (max-width:1280px){
        width:100%;
      }
      p{
        font-weight:600;
        margin-top:60px;
      }
      li{
        position: relative;
        padding-left:13px;
        line-height: 1.7;
        font-weight:200;
        color:rgba(255, 255, 255, 0.7);
        &::before{
          content:"";
          position: absolute;
          top:11px;
          left:0;
          width:3px;
          height:3px;
          background-color: #ddd;
        }
        b{
          font-weight:400;
          color:#fff;
        }
      }
    }
  }
  &__slide{
    margin-top:100px;
    @media (max-width:640px){
      margin-top:50px;
    }
    img{
      display: block;
      width:100%;
    }
    .swiper-slide{
      &:nth-child(odd){
        margin-top:50px;
      }
    }
  }
  &__skill{
    &-list{
      margin-top:50px;
      border-top:1px solid rgba(255,255,255,.7);
      @media (max-width:640px){
        margin-top:20px;
      }
      & > li{
        padding:30px 0;
        border-bottom:1px solid rgba(255,255,255,.5);
        @media (max-width:640px){
          padding:20px 10px;
        }
      }
      strong{
        font-size:20px;
        @media (max-width:640px){
          font-size: 18px;
        }
      }
    }
    &-ans{
      display: flex;
      flex-wrap:wrap;
      flex-direction: column;
      gap:20px 5px;
      margin-top:20px;
      & > li{
        display: flex;
        gap:10px;
        
        @media(max-width:1024px){
          flex-direction: column;
        }
        span{
          display: flex;
          align-items:center;
          align-self:flex-start;
          gap:5px;
          padding:5px;
          color:#353535;
          font-size:14px;
          background-color: #eee;
          border-radius:4px;
          img{
            height:15px;
          }
        }
      }
    }
  }
  &__contact{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap:wrap;
    gap:60px 200px;
    .about__subtitle{
      strong{
        display: block;
        margin-top:40px;
      }
      p{
        margin-top:40px;
      }
    }
    &-adr{
      margin-right:200px;
      strong{
        font-weight:500;
      }
      a{
        font-size:18px;
        color:rgba(255, 255, 255, 0.7);
        transition:color .3s;
        @media (min-width:1024px){
          &:hover{
            color:#fff;
          }
        }
      }
    }
    &-tel{
      margin-top:20px;
      a{
        font-size:14px;
      }
    }
    &-sns{
      display: flex;
      gap:0 20px;
      margin-top:40px;
    }
  }
}
.md-scr-c{
  margin-top: 100px;
  @media (max-width:640px){
    margin-top:50px;
  }
  .img-wrap{
    position: relative;overflow:hidden;
    &::before{
      content:"";
      display: block;
      position: relative;
      padding-top:50%;
    }
  }
  img,
  video{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100%;
  }
}