/* Common */
body{
  background-color: #170017;
}

@mixin page-area{
  position:absolute;
  top:0;
  right:0;
  width:90%;
  max-width:calc(100% - 200px);
  height:100%;
  z-index: 1;
  opacity:0;
  visibility:hidden;
  transition:opacity .5s, visibility .5s;
  &.show{
    opacity:1;
    visibility: visible;
  }
}

.animate{
  &-div{
    overflow:hidden;
    & > *{
      display: inline-block;
      transform:translateY(100%);
    }
    &.animate-start > *{
      transform:translateY(0);
      transition:transform .5s;
    }
  }
}
.view-more {
  padding:10px 14px;
  font-size: 15px;
  color:rgba(255,255,255,.7);
  font-family: "Pretendard",sans-serif;
  border: 1px solid rgba(255,255,255,.7);
  background-color: transparent;
  opacity:0;visibility:hidden;
  transition:opacity .5s, visibility .5s, background-color .3s;
  i.xi-plus-min {
    margin-left: 50px;
  }

  &:hover{
    background-color: rgba(255,255,255,0.3);
  }
}

.wrap{
  position:relative;
  width:100%;
  max-width:1400px;
  margin:0 auto;
  height:100vh;
}

.ui{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  padding:20px;
  color:rgba(200,200,200);

  /* Header */
  &-header{
    display:flex;
    justify-content: space-between;
    z-index: 1;
    &__logo{
      align-self: flex-start;
      // overflow: hidden;
    }
    &__nav{
      &-item{
        &.active{
          button{
            opacity:1;
          }
        }
        button{
          opacity:.3;
          font-family: 'Pretendard,sans-serif';
          font-size:22px;
          color:inherit;
          letter-spacing: -1px;
          border:none;
          background-color: transparent;
          transition: opacity .3s;
          &:hover{
            opacity:1;
          }
        }
      }
    }
    &__right{
      display: flex;
      gap:0 50px;
      margin-right:150px;
      opacity:0;
      visibility: hidden;
      transition:opacity .5s, visibility .5s;
      &.active{
        opacity:1;visibility:visible;
      }

      & > span{
        font-size:12px;
        margin-top:10px;
      }
    }
  }
  &-page{
    align-self:flex-start;
    line-height: 1.5;
    z-index: 1;

    &__item{
      opacity:.4;

      i{
        position: relative;
        top:-3px;
        font-size:10px;
        opacity:0;
        transition:opacity .2s, padding .2s;
      }
      &:hover,
      &.active{
      opacity:1;

        i{
          opacity:1;
          padding-right:5px;
        }
      }
    }
    &__link{
      font-size:18px;
      color:inherit;
      font-family:"Pretendard",sans-serif;
      font-weight:500;
      border:none;
      background-color:transparent;
    }
  }
  
  /* Footer */
  &-footer{
    display: flex;
    align-self:flex-end;
    justify-content: flex-end;
    z-index: 1;
    &__sns{
      &-link{
        font-size:22px;
        color:inherit;
      }
    }
  }
}

.page{
  &__wrap{
    opacity:0;visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.show{
      opacity:1;visibility:visible;
    }
  }
}

/* Main */
.main{
  position:fixed;
  top:0;
  width:100%;
  max-width:1400px;
  height:100%;
  background-color: aquamarine;
  opacity:0.3;
  transition:opacity .5s;
  &.show{
    opacity:1;
  }
  &:hover .view-more{
    opacity:1;visibility:visible;
  }

  &__sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height:100vh;
    padding-bottom:150px;
    font-size:30px;
    &-wrap{
      opacity:0;
      @at-root .main.show .main__sec-wrap{
        opacity:1;
      }
      // .swiper-slide{
      //   *{
      //     opacity:0;
      //   }
      //   &.swiper-slide-active *{
      //     transition: opacity 1.5s;
      //     opacity:1;
      //   }
      // }
      &.swiper{
        .swiper-pagination-bullet{
          width:20px;
          height:5px;
          margin:0 3px;
          border-radius: 0;
        }
        .swiper-pagination{
          left:30px;
          bottom:30px;
          text-align: left;
        }
      }
    }
  }
  &__canvas{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    height:100vh;
    background-color: #444;
  }
}

/* Works */
.works{
  @include page-area;
  &__wrap{
    position: absolute;
    top:0;
    right:0;
    width:100%;
    padding-right:20px;
    color:#ddd;
    opacity:0;
    visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.show{
      opacity:1;
      visibility: visible;
    }
  }
  &__scroll{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 60px;
    left: -40px;
    transform: rotate(-90deg);
    opacity:0;visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.active{
      opacity:1;visibility:visible;
    }
    &-text{
      font-family: "Poppins";
      font-size: 10px;
      font-weight: 500;
      color: #ddd;
    }
    &-bar{
      position: relative;
      width: 50px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      &::after{
        content: "";
        display: block;
        position: relative;
        top:-2px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff;
        animation: visualScrollBar forwards linear 1s infinite;
      }
    }
  }
  @keyframes visualScrollBar {
    0% {transform: translateX(40px);}
    100% {tranform: translateX(-20px);}
  }
  
  &__close{
    position: absolute;
    top:22px;
    right:10px;
    font-size:25px;
    color:#ddd;
    border:none;
    background-color:transparent;
    z-index: 2;
  }
  &__area{
    overflow-y:auto;
    height:100vh;
    padding:150px 20px;
  }
  &__top{
    &:not(:first-child){
      margin-top:200px;
    }
    h2{
      font-size:40px;
    }
    &-info{
      margin-top:50px;
      li{
        display: flex;
        gap:0 20px;
        margin-top:25px;
        &:first-child{
          margin-top:0;
        }
      }
      strong{
        flex:0 0 100px;
      }
    }
  }
  &__contents{
    margin-top:150px;
    .img-wrap{
      &:not(:first-child){
        margin-top:20px;
      }
      img{
        display: block;
        width:100%;
      }
    }
  }
  &__item{
    display: flex;
    gap:50px;
    width:100%;
    padding:0 20px 0 120px;
    &:not(:first-child){
      margin-top:100px;
    }
  } 
  &__left{
    flex: 1 0 250px;
    width:30%;
    .video-wrap{
      padding-top:58%; 
      border-radius:5px;
      overflow:hidden;
      video{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
    }
    figure{
      border-radius:5px;
      overflow:hidden;
      font-size:0;
      line-height:1;
      img{
        display: block;
        width: 100%;  
      }
    }
    .info{
      display: flex;
      margin-top:20px;
      font-size:15px;
      color:#aaa;
      & > * {
        &:not(:last-child)::after{
          content:"";
          display:inline-block;
          width:3px;
          height:3px;
          background-color: #888;
          margin:0 8px 5px;
        }
      }
    }
    a{
      display: block;
      margin-top:15px;
      font-size:13px;
      color:#aaa;
    }
  }
  &__right{
    width:70%;
    a.title{
      display: inline-flex;
      align-items: center;
      gap:0 8px;
      font-size:20px;
      color:#ddd;
      transition:color .3s;
      i.xi-external-link{
        font-size:16px;
      }
      &:hover{
        color:#fff;
      }
    }

    .info{
      display: flex;
      color:#aaa;
      margin: 10px 0;
      & > * {
        &:not(:last-child)::after{
          content:"";
          display:inline-block;
          width:3px;
          height:3px;
          background-color: #888;
          margin:0 8px 5px;
        }
      }
      a{
        color:#aaa;
      }
    }
  }
  &__more{
    margin-top:20px;
    padding-top:15px;
    border-top:1px solid #666;
    .more-btn{
      display: flex;
      justify-content: space-between;
      width:100%;
      padding:5px 10px 5px 0;
      font-size:16px;
      color:#aaa;
      border:none;
      background-color:transparent;
      transition: color .3s;
      &:hover{
        color:#fff;
      }
      &.active{
        color:#fff;
        & ~ .content{
          opacity:1;visibility:visible;
        }
        & .xi-angle-down-min::before{
          content:"\e945";
        }
      }
    }
    .content{
      font-size:15px;
      margin-top:10px;
      opacity:0;visibility:hidden;
      transition:opacity .5s, visibility .5s;

      p::before{
        content:"";
        display: inline-block;
        width:2px;
        height:2px;
        margin:0 6px 4px 4px;
        background-color: #666;
      }
    }

  }

}


/* About */
.about{
  @include page-area;
}
