body{
  background-color: #170017;
  transition: background-color .5s;
  &.st1{
    background-color:rgba(10, 63, 70, 0.925)
  }
}

/* Scroll Bar */
.scrollbar-default::-webkit-scrollbar{width:5px}
.scrollbar-default::-webkit-scrollbar-thumb{border-radius:3px;background-color:#424242b2}
.scrollbar-default::-webkit-scrollbar-track{background-color:#eeeeee13}

@mixin page-area{
  position:absolute;
  top:0;
  right:0;
  width:90%;
  max-width:calc(100% - 200px);
  height:100%;
  z-index: 1;
  opacity:0;
  visibility:hidden;
  transition:opacity .5s, visibility .5s;
  &.show{
    opacity:1;
    visibility: visible;
  }
}
@mixin contents-area{
  overflow-y:auto;
  height:100vh;
  padding:150px 20px;
}
@mixin center-box{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
}
@mixin center-hidden{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;visibility:hidden;
  background-color: rgba(0,0,0,.7);
  transition:opacity .5s, visibility .5s;
  z-index: 1;

  &:hover{
    opacity:1;visibility:visible;
  }
}


.animate{
  &-div{
    overflow:hidden;
    & > *{
      display: inline-block;
      transform:translateY(100%);
    }
    &.animate-start > *{
      transform:translateY(0);
      transition:transform .5s;
    }
  }
}
.view-more {
  padding:10px 14px;
  font-size: 15px;
  color:rgba(255,255,255,.7);
  font-family: "Pretendard",sans-serif;
  border: 1px solid rgba(255,255,255,.7);
  opacity:0;visibility:hidden;
  background-color: transparent;
  transition:opacity .5s, visibility .5s, background-color .3s;;
  i.xi-plus-min {
    margin-left: 50px;
  }
  &:hover{
    background-color: rgba(255,255,255,0.3);
  }
}

.wrap{
  position:relative;
  width:100%;
  max-width:1400px;
  margin:0 auto;
  height:100vh;
}
.ui{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  padding:20px;
  color:rgba(200,200,200);
  a{
    color:inherit;
    transition: color .3s;
    &:hover{
      color:#fff;
    }
  }

  /* Header */
  &-header{
    display:flex;
    justify-content: space-between;
    z-index: 1;
    &__logo{
      align-self: flex-start;
    }
    &__nav{
      &-item{
        &.active{
          button{
            opacity:1;
          }
        }
        button{
          opacity:.3;
          font-size:22px;
          line-height: 1.5;
          color:inherit;
          letter-spacing: -1px;
          border:none;
          background-color: transparent;
          transition: opacity .3s;
          &:hover{
            opacity:1;
          }
        }
      }
    }
    &__right{
      display: flex;
      gap:0 50px;
      margin-right:150px;
      opacity:0;
      visibility: hidden;
      transition:opacity .5s, visibility .5s;
      &.active{
        opacity:1;visibility:visible;
      }

      & > span{
        font-size:12px;
        margin-top:10px;
      }
    }
  }
  &-page{
    align-self:flex-start;
    line-height: 1.5;
    z-index: 1;

    &__item{
      opacity:.4;

      i{
        position: relative;
        top:-3px;
        font-size:10px;
        opacity:0;
        transition:opacity .2s, padding .2s;
      }
      &:hover,
      &.active{
      opacity:1;

        i{
          opacity:1;
          padding-right:5px;
        }
      }
    }
    &__link{
      font-size:18px;
      color:inherit;
      font-family:"Pretendard",sans-serif;
      font-weight:500;
      border:none;
      background-color:transparent;
    }
  }
  
  /* Footer */
  &-footer{
    display: flex;
    align-self:flex-end;
    justify-content: flex-end;
    margin-right:10px;
    z-index: 2;
    &__sns{
      &-link{
        font-size:22px;
        color:inherit;
      }
    }
  }
}

.page{
  &__wrap{
    opacity:0;visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.show{
      opacity:1;visibility:visible;
    }
  }
}

/* Main */
.main{
  position:fixed;
  top:0;
  width:100%;
  max-width:1400px;
  height:100%;
  background-color: aquamarine;
  opacity:0.3;
  transition:opacity .5s;
  &.show{
    opacity:1;
  }

  &__sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height:100vh;
    padding-bottom:150px;
    font-size:30px;
    &:hover .view-more{
      opacity:1;visibility:visible;
    }
    &-wrap{
      opacity:0;
      @at-root .main.show .main__sec-wrap{
        opacity:1;
      }
      // .swiper-slide{
      //   *{
      //     opacity:0;
      //   }
      //   &.swiper-slide-active *{
      //     transition: opacity 1.5s;
      //     opacity:1;
      //   }
      // }
      &.swiper{
        .swiper-pagination-bullet{
          width:20px;
          height:5px;
          margin:0 3px;
          border-radius: 0;
        }
        .swiper-pagination{
          left:30px;
          bottom:30px;
          text-align: left;
        }
      }
    }
  }
  &__canvas{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    height:100vh;
    background-color: #444;
  }
}

/* Works */
.works{
  @include page-area;
  &__wrap{
    position: absolute;
    top:0;
    right:0;
    width:100%;
    color:#ddd;
    opacity:0;
    visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.show{
      opacity:1;
      visibility: visible;
    }
  }
  &__scroll{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 60px;
    left: -80px;
    transform: rotate(-90deg);
    opacity:0;visibility:hidden;
    transition:opacity .5s, visibility .5s;
    &.active{
      opacity:1;visibility:visible;
    }
    &-text{
      font-family: "Poppins";
      font-size: 10px;
      font-weight: 500;
      color: #ddd;
    }
    &-bar{
      position: relative;
      width: 50px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      &::after{
        content: "";
        display: block;
        position: relative;
        top:-2px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff;
        animation: visualScrollBar forwards linear 1s infinite;
      }
    }
  }
  @keyframes visualScrollBar {
    0% {transform: translateX(40px);}
    100% {tranform: translateX(-20px);}
  }
  
  &__close{
    position: absolute;
    top:22px;
    right:30px;
    font-size:25px;
    color:#ddd;
    border:none;
    background-color:transparent;
    z-index: 2;
  }
  &__area{
    @include contents-area;
  }
  &__top{
    &:not(:first-child){
      margin-top:200px;
    }
    h2{
      font-size:40px;
      &.center{
        text-align: center;
      }
    }
    &-info{
      margin-top:50px;
      li{
        display: flex;
        gap:0 20px;
        margin-top:25px;
        &:first-child{
          margin-top:0;
        }
      }
      strong{
        flex:0 0 120px;
        font-size:18px;
      }
      &.center{
        display:flex;
        flex-direction:column;
        align-items: center;
        gap:20px;
      }
    }
    &-icons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap:0 12px;
      margin-top:20px;
      a{
        font-size:20px;
        color:#aaa;
        transition: color .3s;
        &:hover{
          color:#fff;
        }
      }
    }
  }
  &__contents{
    margin-top:150px;
    .img-wrap{
      &:not(:first-child){
        margin-top:20px;
      }
      img{
        display: block;
        width:100%;
      }
    }
    h3{
      font-size:22px;
      font-weight:400;
    }
    h4{
      font-size:18px;
      font-weight:500;
      i{
        margin-left:5px;
      }
    }
    p{
      font-size:15px;
      color:#aaa
    }
  }
  &__img-container{
    padding-left:140px;
    & > p{
      margin-top:20px;
    }
  }
  &__item{
    display: flex;
    gap:50px;
    width:100%;
    padding:0 20px 0 140px;
    &:not(:first-child){
      margin-top:100px;
    }
  } 
  &__left{
    align-self:flex-start;
    flex: 1 0 250px;
    width:30%;
    .video-wrap{
      display: block;
      padding-top:58%; 
      border-radius:5px;
      overflow:hidden;
      video{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
      &::before{
        content:"\e980";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        font-family: xeicon!important;
        font-size:16px;
        color:#ddd;
        opacity:0;visibility:hidden;
        background-color: rgba(0,0,0,.7);
        transition:opacity .5s, visibility .5s;
        z-index: 1;
      }
      &:hover::before{
        opacity:1;visibility:visible;
      }
    }
    // a{
    //   display: block;
    //   margin-top:15px;
    //   font-size:13px;
    //   color:#aaa;
    //   transition: color .3s;
    //   &:hover{
    //     color:#fff;
    //   }
    // }
    figure{
      border-radius:5px;
      overflow:hidden;
      font-size:0;
      line-height:1;
      img{
        display: block;
        width: 100%;  
      }
    }
    .info{
      display: flex;
      margin-top:20px;
      font-size:15px;
      color:#aaa;
      & > * {
        &:not(:last-child)::after{
          content:"";
          display:inline-block;
          width:3px;
          height:3px;
          background-color: #888;
          margin:0 8px 5px;
        }
      }
    }
  }
  &__right{
    width:70%;
    a.title{
      display: inline-flex;
      align-items: center;
      gap:0 8px;
      font-size:20px;
      color:#ddd;
      transition:color .3s;
      h3{
        font-weight:600;
      }
      i.xi-external-link{
        font-size:16px;
      }
      &:hover{
        color:#fff;
      }
    }

    .info{
      display: flex;
      color:#aaa;
      margin: 10px 0;
      & > * {
        &:not(:last-child)::after{
          content:"";
          display:inline-block;
          width:3px;
          height:3px;
          background-color: #888;
          margin:0 8px 5px;
        }
      }
      a{
        color:#aaa;
      }
    }
  }
  &__more{
    margin-top:20px;
    padding-top:15px;
    border-top:1px solid #666;
    .more-btn{
      display: flex;
      justify-content: space-between;
      width:100%;
      padding:5px 10px 5px 0;
      font-size:16px;
      color:#aaa;
      border:none;
      background-color:transparent;
      transition: color .3s;
      &:hover{
        color:#fff;
      }
      &.active{
        color:#fff;
        & ~ .content{
          opacity:1;visibility:visible;
        }
        & .xi-angle-down-min::before{
          content:"\e945";
        }
      }
    }
    .content{
      font-size:15px;
      margin-top:10px;
      opacity:0;visibility:hidden;
      transition:opacity .5s, visibility .5s;

      p::before{
        content:"";
        display: inline-block;
        width:2px;
        height:2px;
        margin:0 6px 4px 4px;
        background-color: #666;
      }
    }
  }

  // Grid
  &__grid{
    &-list{
      display: flex;
      flex-wrap:wrap;
      gap:50px 10px;
      margin-top:20px;
      .img-wrap{
        position: relative;
        padding-top:56.8%;
        border-radius: 10px;
        overflow: hidden;
        &::before{
          content:"";
          @include center-box();
          background-color: rgba(0,0,0,.4);
          opacity: 1;
          transition:opacity .5s;
        }
        img{
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
        }
      }
      .video-wrap{
        border-radius:10px; 
        overflow:hidden;
        video{
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
        }
      }
      &.text-in{
        .video-wrap{
          padding-top:58.25%;
        }
        .works__grid-inner{
          position: absolute;
          top: 0;
          left: 0;
          width:100%;
          height:100%;
          background-color: rgba(0,0,0,.5);
          opacity:0;
          transition:opacity .5s;
          z-index: 1;
        }
        .works__grid-link:hover{
          span::before{
            width:100%;
          }
          .works__grid-inner{
            opacity:1;
          }
        }
      }
    }
    &-item{
      position: relative;
      width:calc(33.333333333333% - 7px);
    }
    &-link{
      display:block;
      &:hover .img-wrap::before{
        opacity:0;
      }
    }
    &-inner{  
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:5px 0;
      padding:15px 10px;
      color:#ccc;
      span{
        position: relative;
        font-size:13px;
        &::before{
          content:"";
          position: absolute;
          bottom:-2px;
          left:50%;
          width:0;
          height:1px;
          transform:translate(-50%, 0);
          background-color: #ccc;
          transition:width .5s;
        }
      }
    }
    &-icons{  
      display: flex;
      align-items: center;
      justify-content: center;
      gap:0 10px;
      margin-top:15px;
      a{
        font-size:18px;
        color:#ccc;
        transition:color .3s;
        &:hover{
          color:#fff;
        }
      }
    }
  }
  &__title-link{
    font-size:26px;
    color:#ccc;
    margin-left:5px;
    transition:color .3s;
    &:hover{
      color:#fff;
    }
  }
}


/* About */
.about{
  color:#ddd;
  @include page-area;

  &__area{
    @include contents-area;
  }
  &__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:42%;
    margin:0 auto;
    text-align: center;
    span{
      font-size:14px;
      color:#bbb;
    }
    h2{
      padding:20px 0 40px;
      font-size:42px;
      font-weight:400;
      font-family: 'Rouganeck','Pretendard',sans-serif;
    }
    p{
      margin-top:30px;
      font-size:16px;
    }
  }
  &__img-wrap{
    display: flex;
    justify-content: space-between;
    margin-top:160px;
    .video-wrap{
      padding-top: 33.5%;
      overflow: hidden;
      video{
        position:absolute;
        top:0;
        left:50%;
        height:100%;
        transform:translateX(-50%);
      }
    }
    .img-wrap{
      max-width:25%;
      flex-basis: 25%;
      img{
        display: block;
        width:100%;
      }
      &.img2{
        transform:translate(50px, 0) rotate(90deg) scale(.6)
      }
      &.img3{
        transform:translateY(-100px)
      }
    }
  }
  &__profile{
    display: flex;
    justify-content: space-between;
    margin-top:250px;
    &-left{
      width:30%;
    }
    &-right{
      width:50%;
      p{
        font-weight:600;
        margin-top:60px;
      }
      ul{
        margin-top:30px;
      }
      li{
        position: relative;
        padding-left:13px;
        line-height: 1.5;
        &::before{
          content:"";
          position: absolute;
          top:10px;
          left:0;
          width:3px;
          height:3px;
          background-color: #ddd;
        }
      }
    }
    .about__title{
      gap:30px 0;
      max-width:none;
      align-items: flex-start;
      text-align: left;
      
    }
    h3{
      font-size:38px;
      font-weight:400;
      font-family: 'Rouganeck','Pretendard',sans-serif;
    }
  }
  &__slide{
    margin-top:100px;
    img{
      display: block;
      width:100%;
    }
    .swiper-slide{
      &:nth-child(odd){
        margin-top:50px;
      }
    }
  }
}
.md-scr-c{
  margin-top: 100px;
  .img-mask{
    // position:absolute;top:0;left:0;width:100%;height:100%;background-color: rgba(0,0,0,.8);
  }
  .img-wrap{
    position: relative;overflow:hidden;
    &::before{
      content:"";
      display: block;
      position: relative;
      padding-top:50%;
    }
  }
  img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100%;
  }
}